<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.css" integrity="sha256-+dIh4jG2jQTHZwW81yUo8h6tzXWcNumyNL5XPZbwp1E=" crossorigin="anonymous" />
  <title>Hugo Valla</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.8/fullpage.min.js" integrity="sha256-caNcSA0LvOCX90PTuEbwl+V09xPMca13CJUasl+VCtk=" crossorigin="anonymous"></script>
  </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.4/gsap.js" integrity="sha256-1xq+cdMDaqP3qT8SzRoHohxeY57LfbJSMaXrzXcwz2M=" crossorigin="anonymous"></script>
<script>
    new fullpage("#fullpage", {
    //options here
    licenseKey: 'q2NraPV@b1',
    autoScrolling: true,
    navigation: true,
    onLeave: (origin, destination, direction) => {
      console.log(destination);
      const section = destination.item;
      const title = section.querySelector("h1");
      console.log(title)
      const tl = new TimelineMax({ delay: 0.5 });
      tl.fromTo(title, 0.5, { y: "50", opacity: 0 }, { y: "-40", opacity: 1 });
        if (destination.index === 1) {
            const hugoimg = document.querySelectorAll(".hugoimg");
            const description = document.querySelector(".description");
            tl.fromTo(hugoimg, 2, { opacity: 0, x: "-80%" }, { opacity: 1, x: "25%" })
              .fromTo(
                description,
                0.8,
                { opacity: 0, y: "50" },
                { y: "0", opacity: 1 }
              )
              .fromTo(hugoimg[0], 1, { opacity: 0.3 }, { opacity: 1 })
              .fromTo(hugoimg[1], 2, { opacity: 0 }, { opacity: 1 })
              .fromTo(hugoimg[2], 3, { opacity: 0 }, { opacity: 1 });
          }
    }
});
</script>
</html>
